<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<router-outlet>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">VOIZFONICA</a>
            </div>
            <ul class="nav navbar-nav" style="display: inline">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">View plans</a></li>
                <li><a href="#">Recharge</a></li>
                <li><a href="#">View offers</a></li>
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Transaction history</a></li>
                <li> <button class="btn btn-success" style="margin-top: 8px">Login</button>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>

    </div>

</router-outlet>